*{
  margin: 0;
  padding: 0;
}

.name{
    margin-top: 90px;
    margin-left: 270px;
    position: absolute ;
    display: block;
    font-size:18px;
    font-family: cursive; 

}
.box1{
    margin: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: rgb(215, 219, 219);
}

.image{
    border-radius: 50px;
}
img{
    border-radius: 100%;
    margin-top: 40px;
    margin-left: 80px;
    height: 12%;
    width: 12%;
    position: relative;
}

.main{
  display: flex;
}
.left{

  margin: 8px;
  padding: 10px;
  width: 420px;
  max-width: fit-content;
}
.folder{
  vertical-align: middle;
  text-align: center;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  border-radius:100%;
  padding: 20px;
  width: 80px;
  border: 1px solid black;
  display:inline-table;
  box-sizing: content-box; 
}
.right{
  border: 1px solid black;
  margin: 20px;
  margin-top: -24px;
  width: 470px;
}
.top{
  margin: 0;
  text-align: center;
  padding-top: 5px;
  height: 25px;
  background-color: rgb(202, 199, 199);
}
marquee{
  height: 400px;
}
.timeline{
  border: 1px solid black;
  height: 440px;
  margin-top: -24px;
  width: 380px;
  overflow: auto;
} 

.verticalline{
  border: 1px solid black;
  height: 650px;
  width: 0px;
  margin-left: 190px;  
}
















@media screen and (max-width: 500px) {
  *{
    margin: 0;
    padding: 0;
  }
  
  .name{
    position: relative;
    margin: 0;
    padding-top: 10px;
    text-align: center;
      font-size:16px;
      font-family: cursive; 
  }
  .box1{
      margin: 0;
      height: 18%;
      width: 100%;
      background-color: rgb(215, 219, 219);
  }
  
  .image{
      border-radius: 50px;
  }
  img{
      border-radius: 100%;
      position: relative;
      margin-top: 10px;
     margin-left: 39.5%;
      height: 25%;
      width: 25%;
  }
  
    .main{
    display:inline;
  }
  .left{
    visibility: hidden;
  }
  
  .right{
    border: 1px solid black;
    margin: 10px;
    margin-top: -420px;
    width: 92.5%;
  }
  .top{
    margin: 0;
    text-align: center;
    padding-top: 5px;
    height: 25px;
    background-color: rgb(202, 199, 199);
  }
  marquee{
    height: 400px;
  }
  .timeline{
    border: 1px solid black;
    height: 440px;  
    margin: 20px;
    margin-top: 0px;
    width: 92.5%;
    overflow: auto;
  } 
  
  .verticalline{
    border: 1px solid black;
    height: 650px;
    width: 0px;
    margin-left: 50%;  
  }
  
}





@media screen and (max-width: 460px) {
  .main{
    display:inline;
  }
  .right{
    border: 1px solid black;
    margin: 10px;
    margin-top: -420px;
    width: 92.5%;
  }
}



@media screen and (max-width: 452px) {
  .main{
    display:inline;
  }
  .right{
    border: 1px solid black;
    margin: 10px;
    margin-top: -520px;
    width: 92.5%;
  }
}
@media screen and (max-width: 438px) {
  .main{
    display:inline;
  }
  .right{
    border: 1px solid black;
    margin: 10px;
    margin-top: -620px;
    width: 92.5%;
  }
}
@media screen and (max-width: 317px) {
  .main{
    display:inline;
  }
  .right{
    border: 1px solid black;
    margin: 10px;
    margin-top: -820px;
    width: 92.5%;
  }
}
@media screen and (max-width: 303px) {
  .main{
    display:inline;
  }
  .right{
    border: 1px solid black;
    margin: 10px;
    margin-top: -1190px;
    width: 92.5%;
  }
}